.venv312
.venv
Services/maverick_coref
Services/maverick_coref/Miniconda3-latest-Linux-x86_64.sh
config/config.json
Uploads

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Pytest
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Jupyter Notebook
.ipynb_checkpoints

# VSCode
.vscode/

# IDEs
.idea/
*.sublime-project
*.sublime-workspace

# Virtualenvs
venv/
ENV/
env/
.env/
.venv/

# Logs and temp files
*.log
*.tmp
*.swp
*.bak

# MacOS
.DS_Store
